.underline {
    text-decoration: underline 0.15rem;
    text-underline-offset: 0.2rem;
    border-radius: 4px;
    cursor: pointer;
}

.underline.seen {
    text-decoration-color: #DFCA7E;
}

.underline.seen:hover, .underline.seen.active {
    background: #dfca7e8a;
}

.underline.unknown {
    text-decoration-color: #C07676;
}

.underline.unknown:hover, .underline.unknown.active {
    background: #c076768a;
}

.underline.unmatched {
    text-decoration-color: rgba(128, 128, 128);
}

.underline.unmatched:hover, .underline.unmatched.active {
    background: rgba(128, 128, 128, 0.5);
}

.underline.known {
    text-decoration-color: transparent;
}

.underline.known:hover, .underline.known.active {
    text-decoration-color: #57BB97;
    background: #57BB978a;
}